<%= form_with(model: @sidekick, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :power %>
    <%= f.text_field :power %>
  </div>
  <div class="field">
    <%= f.label :hero %>
    <%= f.text_field :hero %>
  </div>
  <%= f.submit nil, class: "ui blue button" %>
<% end %>